@font-face {
    font-family: 'ralewayregular';
    src: url('../font/raleway-regular-webfont.woff2') format('woff2'),
         url('../font/raleway-regular-webfont.woff') format('woff');
    /*font-weight: normal;
    font-style: normal;*/
}

*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	font-family: 'raleway','ralewayregular','Arial';
}

nav {
	background-color: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.navbar-brand{
	font-weight: bold;
	font-size: 1.6rem;
	color: #606bf1 !important;
}

.nav-link{
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: bolder;
	background-color: transparent !important;
}

.btn-first{
	background-color: #606bf1;
}

.btn-second{
	background-color: #ff8578;
}

.active{
	color: #606bf1 !important;
	background-color: #fff;
}

.card-title {
	color: initial;
}

.jumbotron{
	/*max-height: 47rem;*/
	text-align: center;
	background-color: #fff;
	color: black;
	overflow: hidden;
}

.jumbotron h1{
	font-size: 2.5rem;
	font-weight: bold;
}

.jumbotron p{
	font-size: 1rem;
}

.search{
	margin-top: -70px;
}

section h3{
	font-size: 1.1rem;
	font-weight: bold;
}

section h5, footer h5{
	font-size: 1rem;
	font-weight: bold;
}


.progress-bar{
	background-color: #606bf1 !important;
}

#techstack {
	img {
		width: 100px;
		height: 100px;
	}

	.col-4 {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.linkedin:hover {
	background-color: #0077b5 !important;
	&.text-dark {
		color: #fff !important;
		border-color: #fff !important;
	}
}

.github:hover {
	background-color: #24292e !important;
	&.text-dark {
		color: #fff !important;
		border-color: #fff !important;
	}
}

.dribbble:hover {
	background-color: #ea4c89 !important;
	&.text-dark {
		color: #fff !important;
		border-color: #fff !important;
	}
}

.instagram:hover {
	background-color: #c13584 !important;
	&.text-dark {
		color: #fff !important;
		border-color: #fff !important;
	}
}

.email:hover {
	background-color: #d44638 !important;
	&.text-dark {
		color: #fff !important;
		border-color: #fff !important;
	}
}

.pimcore:hover {
	border-color: #6E81B6 !important;
}

.wordpress:hover {
	border-color: #21759b !important;
}

.jquery:hover {
	border-color: #0769ad !important;
}

.react:hover {
	border-color: #61DAFB !important;
}

.mysql:hover {
	border-color: #00758F !important;
}

.git:hover {
	border-color: #F05032 !important;
}

.redis:hover {
	border-color: #D82C20 !important;
}

.docker:hover {
	border-color: #2496ED !important;
}

.figma:hover {
	border-color: #F24E1E !important;
}

@media (min-width: 992px) {
	nav{
		transition: background 0.3s;
	}

	.jumbotron{
		text-align: left;
		max-height: 33rem;
	}

	.jumbotron h1{
		font-size: 3.5rem;
	}

	.jumbotron p{
		font-size: 1.3rem;
	}

	section h3{
		font-size: 1.4rem;
	}

	footer h5{
		font-size: 1.3rem;
	}
}